
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <!-- Start Page Title Area -->
    <div class="page-title-area defaultbg" style="
         background-image:url(/assets/img/page.png);">
        <div class="breadcrumb-overly">
            <div class="d-table">
                <div class="d-table-cell">
                    <div class="container">
                        <div class="page-title-content">
                            <h2> Hakkımızda </h2>
                            <ul>
                                <li><a href="/Home/Index">Anasayfa</a></li>
                                <li> Hakkımızda </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Page Title Area -->
    <!-- Start About Area -->
    <section class="about-section pt-70">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="about-img">
                        <div class="about-main-img">
                            <img src="~/assets/img/about-us.jpg" alt="about-img">
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="about-info">
                        <h5>Hakkımızda</h5>
                        <h2>We Provide Quality Computor & Mobile Repair Services</h2>
                        <p>Curabitur lobortis id lorem id bibendum. Ut id consectetur magna. Quisque volutpat augue enim, pulvinar lobortis nibh lacinia at. Vestibulum nec erat ut mi sollicitudin porttitor id sit amet risus. Nam tempus vel odio vitae aliquam. In imperdiet eros id lacus vestibulum vestibulum. Suspendisse fermentum sem sagittis ante venenatis.</p>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley</p>
                        <a class="default-btn-one" href="#">View More</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End About Area -->
    <!-- Start Features Area -->
    <section class="features-area">
        <div class="container">
            <div class="features-title">
                <span>OUR CORE VALUES</span>
                <h3>Create Awesome Service With Our Tools</h3>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="single-about-featrures-full">
                        <div class="single-features-item">
                            <div class="icon">
                                <i class="flaticon-seo"></i>
                            </div>
                            <h3>HONESTY</h3>
                            <p>codepopular Solutions is a quality focused organization underpinned by a process of Continuous Improvement.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="single-about-featrures-full">
                        <div class="single-features-item">
                            <div class="icon">
                                <i class="flaticon-analytics"></i>
                            </div>
                            <h3>PRIDE</h3>
                            <p>codepopular Solutions is a quality focused organization underpinned by a process of Continuous Improvement.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="single-about-featrures-full">
                        <div class="single-features-item">
                            <div class="icon">
                                <i class="flaticon-laptop"></i>
                            </div>
                            <h3>IMPROVEMENT</h3>
                            <p>codepopular Solutions is a quality focused organization underpinned by a process of Continuous Improvement.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Features Area -->
    <!-- Start Team Section -->
    <section class="team-section ptb-100">
        <div class="container">
            <div class="section-title">
                <span>Team</span>
                <h3>Meet Our Team</h3>
            </div>
            <div class="row">
                <div class="col-lg-6 mb-30">
                    <div class="team-item-area-style-3">
                        <div class="team-image">
                            <img src="~/assets/img/team/1.jpg" alt="image">
                        </div>
                        <div class="team-content">
                            <div class="team-content-style-3">
                                <h3>Jhone Brown</h3>
                                <span>Sr. Graphic Designer</span>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, </p>
                            </div>
                            <div class="team-social-full-style-3">
                                <ul class="team-social">
                                    <li><a target="balnk" href="#"><i class="flaticon-facebook-logo"></i></a></li>
                                    <li><a target="balnk" href="javacript::void(0)"><i class="flaticon-twitter"></i></a></li>
                                    <li><a target="balnk" href="#"><i class="flaticon-paypal"></i></a></li>
                                    <li><a target="balnk" href="#"><i class="flaticon-linkedin-letters"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 mb-30">
                    <div class="team-item-area-style-3">
                        <div class="team-image">
                            <img src="~/assets/img/team/2.jpg" alt="image">
                        </div>
                        <div class="team-content">
                            <div class="team-content-style-3">
                                <h3>Jessica Twain</h3>
                                <span>Sr. Graphic Designer</span>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, </p>
                            </div>
                            <div class="team-social-full-style-3">
                                <ul class="team-social">
                                    <li><a target="balnk" href="#"><i class="flaticon-facebook-logo"></i></a></li>
                                    <li><a target="balnk" href="javacript::void(0)"><i class="flaticon-twitter"></i></a></li>
                                    <li><a target="balnk" href="#"><i class="flaticon-paypal"></i></a></li>
                                    <li><a target="balnk" href="#"><i class="flaticon-linkedin-letters"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 mb-30">
                    <div class="team-item-area-style-3">
                        <div class="team-image">
                            <img src="~/assets/img/team/3.jpg" alt="image">
                        </div>
                        <div class="team-content">
                            <div class="team-social-full-style-3">
                                <div class="team-content-style-3">
                                    <h3>Telewal</h3>
                                    <span>Sr. Graphic Designer</span>
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, </p>
                                </div>
                                <ul class="team-social">
                                    <li><a target="balnk" href="#"><i class="flaticon-facebook-logo"></i></a></li>
                                    <li><a target="balnk" href="javacript::void(0)"><i class="flaticon-twitter"></i></a></li>
                                    <li><a target="balnk" href="#"><i class="flaticon-paypal"></i></a></li>
                                    <li><a target="balnk" href="#"><i class="flaticon-linkedin-letters"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 mb-30">
                    <div class="team-item-area-style-3">
                        <div class="team-image">
                            <img src="~/assets/img/team/4.jpg" alt="image">
                        </div>
                        <div class="team-content">
                            <div class="team-content-style-3">
                                <h3>Jhone Brown</h3>
                                <span>Sr. Graphic Designer</span>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, </p>
                            </div>
                            <div class="team-social-full-style-3">
                                <ul class="team-social">
                                    <li><a target="balnk" href="#"><i class="flaticon-facebook-logo"></i></a></li>
                                    <li><a target="balnk" href="javacript::void(0)"><i class="flaticon-twitter"></i></a></li>
                                    <li><a target="balnk" href="#"><i class="flaticon-paypal"></i></a></li>
                                    <li><a target="balnk" href="#"><i class="flaticon-linkedin-letters"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="team-animation">
            <div class="shape-img1"><img src="~/assets/img/shape/7.png" alt="image"></div>
            <div class="shape-img2"><img src="~/assets/img/shape/9.png" alt="image"></div>
            <div class="shape-img3"><img src="~/assets/img/shape/7.png" alt="image"></div>
            <div class="shape-img4"><img src="~/assets/img/shape/9.png" alt="image"></div>
            <div class="shape-img5"><img src="~/assets/img/shape/9.png" alt="image"></div>
        </div>
    </section>
    <!-- End Team Section -->
    <!-- Start Subscribe Section -->
    <section class="subscribe-section">
        <div class="container-fluid">
            <div class="subscribe-area-content">
                <div class="subscribe-content">
                    <span class="sub-title">Get Started Instantly!</span>
                    <h2>Get the only new update from this newsletter</h2>
                    <form class="newsletter-form" action="#" method="post" id="newsletterForm">
                        <input type="email" class="input-newsletter" placeholder="Enter your email" name="email" required autocomplete="off" id="email">
                        <button type="submit">Subscribe</button>
                        <p id="emailStatus" class="formError"></p>
                    </form>
                    <div class="status-message"></div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Subscribe Section -->
    <!-- Partner section -->
    <!-- Partner section -->
    <div class="partner-section pb-0 pt-100">
        <div class="container">
            <div class="partner-slider owl-carousel owl-theme">
                <div class="partner-item">
                    <a href="#">
                        <img src="~/assets/img/client/client_1583433142.png" alt="partner">
                    </a>
                </div>
                <div class="partner-item">
                    <a href="#">
                        <img src="~/assets/img/client/client_1583433324.png" alt="partner">
                    </a>
                </div>
                <div class="partner-item">
                    <a href="#">
                        <img src="~/assets/img/client/client_1583433311.png" alt="partner">
                    </a>
                </div>
                <div class="partner-item">
                    <a href="#">
                        <img src="~/assets/img/client/client_1583433297.png" alt="partner">
                    </a>
                </div>
                <div class="partner-item">
                    <a href="#">
                        <img src="~/assets/img/client/client_1583433283.png" alt="partner">
                    </a>
                </div>
                <div class="partner-item">
                    <a href="#">
                        <img src="~/assets/img/client/client_1583433258.png" alt="partner">
                    </a>
                </div>
                <div class="partner-item">
                    <a href="#">
                        <img src="~/assets/img/client/client_1583433243.png" alt="partner">
                    </a>
                </div>
                <div class="partner-item">
                    <a href="#">
                        <img src="~/assets/img/client/client_1583433228.png" alt="partner">
                    </a>
                </div>
                <div class="partner-item">
                    <a href="#">
                        <img src="~/assets/img/client/client_1583433212.png" alt="partner">
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!-- End Partner section -->        <!-- End Partner section -->