@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <!-- Start Page Title Area -->
    <div class="page-title-area defaultbg" style="
         background-image:url(/assets/img/page.png);">
        <div class="breadcrumb-overly">
            <div class="d-table">
                <div class="d-table-cell">
                    <div class="container">
                        <div class="page-title-content">
                            <h2> Hakkımızda </h2>
                            <ul>
                                <li><a href="/Home/Index">Anasayfa</a></li>
                                <li> Hakkımızda </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Page Title Area -->
    <!-- Start About Area -->
    <section class="about-section pt-70">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="about-img">
                        <div class="about-main-img">
                            <img src="~/assets/img/about-us.jpg" alt="about-img">
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="about-info">
                        <h5>Hakkımızda</h5>
                        <h2>E-Öğrenmede Yaratıcı</h2>
                        <p>&nbsp; NGLMS kurumlara ve bireylere yönelik internet üzerinden uzaktan eğitim sunan, bir e-öğrenme ve zengin internet uygulama yazılımları firmasıdır.Faaliyetlerini başarıyla sürdüren NGLMS, sürekli  hizmet ve eğitim geliştirme anlayışı ile, tüm hizmetlerinde teknolojiyi en etkin şekilde kullanmayı ilke edinmiştir.</p>
                        <p>&nbsp; Ülkemizde eğitim/yazılım alanında bireylerin ve kurumların ihtiyaçlarına yönelik üretim ve hizmetlerimizi sürdürürken, bir yandan da yurtdışına hizmet ve ürün ihraç etmek ana hedefimizdir.</p>
                        <p>&nbsp; Ayrıca <b>dijital dönüşüm</b> teknolojilerini yaygınlaştırarak “eğitimde fırsat eşitliğine katkıda bulunmak” en önemli misyonumuzdur.</p>
                        @*<a class="default-btn-one" href="#">View More</a>*@
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End About Area -->
    <!-- Start Features Area -->
    <section class="features-area">
        <div class="container">
            <div class="features-title">
                <span>BİR BAKIŞTA NGLMS</span>
                <p>Geliştirilmiş özellikleriyle uzaktan eğitime bakış açısını değiştirceğiz.Artık sosyal medyadan bile eğitim sisteminizle bağlantı halindesiniz. nglms'i dizüstü bilgisayar, tablet veya cep telefonu ile rahatlıkla kullanıp, uzaktan eğitimin keyfini çıkarabilirsiniz.</p>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="single-about-featrures-full">
                        <div class="single-features-item">
                            <div class="icon">
                                <i class="flaticon-seo"></i>
                            </div>
                            <h3>TASARIM</h3>
                            <p>Yeni ve şık tasarımıyla NGLMS, farklı aygıtlarda rahat kullanım sağlıyor. Kullandığınız aygıt ister bir dizüstü bilgisayar, ister tablet ya da cep telefonu olsun ekran ölçüsünü otomatik olarak ayarlayıp, sistemin keyfini çıkarmanıza imkan veriyor..</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="single-about-featrures-full">
                        <div class="single-features-item">
                            <div class="icon">
                                <i class="flaticon-analytics"></i>
                            </div>
                            <h3>KULLANIM</h3>
                            <p>Kullanıcıların eğitim yönetim sistemlerini kullanırken de rahat olmaları çok önemlidir. kullanıcı dostu yapısıyla istenen işlemlerin en hızlı ve basit bir şekilde yapılmasını sağlıyor. Menü sisteminin sadeliği, gözü yormayan görsel ögelerle bütünleşip, kullanıcıların rahat ve hızlı dolaşmasına olanak veriyor. Karmaşıklıktan uzak görüntüsüyle NGLMS kullanımına alışmak çok kolay.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="single-about-featrures-full">
                        <div class="single-features-item">
                            <div class="icon">
                                <i class="flaticon-laptop"></i>
                            </div>
                            <h3>ALTYAPI</h3>
                            <p>NGLMS üretilirken son dönemin en gelişmiş kod mimarisi ve altyapıları kullanıldı. Güvenlik açısından da geliştirilmeler yapılırken sistemin daha hızlı çalışabilmesi için önemlii optimizasyonlar gerçekleştirildi..</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Features Area -->
    <!-- Start Subscribe Section -->
    <section class="subscribe-section">
        <div class="container-fluid">
            <div class="subscribe-area-content">
                <div class="subscribe-content">
                </div>
            </div>
        </div>
    </section>
    <!-- End Subscribe Section -->