
@{
    ViewBag.Title = "Team";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- Start Page Title Area -->
<div class="page-title-area defaultbg" style="background-image:url(/assets/img/page.png);">
    <div class="breadcrumb-overly">
        <div class="d-table">
            <div class="d-table-cell">
                <div class="container">
                    <div class="page-title-content">
                        <h2>
                            Takımımız
                        </h2>
                        <ul>
                            <li><a href="/Home/Index">Anasayfa</a></li>
                            <li> Takımımız </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Page Title Area -->
<!-- Start Team Area -->
<section class="team-section ptb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="team-item-area">
                    <div class="team-image">
                        <img src="~/assets/img/team/2.jpg" alt="image">

                    </div>
                    <div class="team-social-full">
                        <ul class="team-social">
                            <li><a target="balnk" href="#"><i class="flaticon-facebook-logo"></i></a></li>
                            <li><a target="balnk" href="javacript::void(0)"><i class="flaticon-twitter"></i></a></li>
                            <li><a target="balnk" href="#"><i class="flaticon-paypal"></i></a></li>
                            <li><a target="balnk" href="#"><i class="flaticon-linkedin-letters"></i></a></li>
                        </ul>
                    </div>
                    <div class="team-content">
                        <h3>Mustafa Umut AVCI</h3>
                        <span>Founder &amp; CEO</span>

                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="team-item-area">
                    <div class="team-image">
                        <img src="~/assets/img/team/1.jpg" alt="image">
                    </div>
                    <div class="team-social-full">
                        <ul class="team-social">
                            <li><a target="balnk" href="#"><i class="flaticon-facebook-logo"></i></a></li>
                            <li><a target="balnk" href="javacript::void(0)"><i class="flaticon-twitter"></i></a></li>
                            <li><a target="balnk" href="#"><i class="flaticon-paypal"></i></a></li>
                            <li><a target="balnk" href="#"><i class="flaticon-linkedin-letters"></i></a></li>
                        </ul>
                    </div>
                    <div class="team-content">
                        <h3>Beyza AKÇAY</h3>
                        <span>Instructional Designer</span>

                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="team-item-area">
                    <div class="team-image">
                        <img src="~/assets/img/team/3.jpg" alt="image">

                    </div>
                    <div class="team-social-full">
                        <ul class="team-social">
                            <li><a target="balnk" href="#"><i class="flaticon-facebook-logo"></i></a></li>
                            <li><a target="balnk" href="javacript::void(0)"><i class="flaticon-twitter"></i></a></li>
                            <li><a target="balnk" href="#"><i class="flaticon-paypal"></i></a></li>
                            <li><a target="balnk" href="#"><i class="flaticon-linkedin-letters"></i></a></li>
                        </ul>
                    </div>

                    <div class="team-content">
                        <h3>Ekin KAYGUSUZ </h3>
                        <span>Instructional Designer</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="team-item-area">
                    <div class="team-image">
                        <img src="~/assets/img/team/4.jpg" alt="image">

                    </div>
                    <div class="team-social-full">
                        <ul class="team-social">
                            <li><a target="balnk" href="#"><i class="flaticon-facebook-logo"></i></a></li>
                            <li><a target="balnk" href="javacript::void(0)"><i class="flaticon-twitter"></i></a></li>
                            <li><a target="balnk" href="#"><i class="flaticon-paypal"></i></a></li>
                            <li><a target="balnk" href="#"><i class="flaticon-linkedin-letters"></i></a></li>
                        </ul>
                    </div>
                    <div class="team-content">
                        <h3>Yaren ÇELİK</h3>
                        <span>Front-End Developer</span>

                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="team-item-area">
                    <div class="team-image">
                        <img src="~/assets/img/team/5.jpg" alt="image">
                    </div>
                    <div class="team-social-full">
                        <ul class="team-social">
                            <li><a target="balnk" href="#"><i class="flaticon-facebook-logo"></i></a></li>
                            <li><a target="balnk" href="javacript::void(0)"><i class="flaticon-twitter"></i></a></li>
                            <li><a target="balnk" href="#"><i class="flaticon-paypal"></i></a></li>
                            <li><a target="balnk" href="#"><i class="flaticon-linkedin-letters"></i></a></li>
                        </ul>
                    </div>
                    <div class="team-content">
                        <h3>Burcu ARIK</h3>
                        <span>Graphic Designer</span>

                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="team-item-area">
                    <div class="team-image">
                        <img src="~/assets/img/team/6.jpg" alt="image">

                    </div>
                    <div class="team-social-full">
                        <ul class="team-social">
                            <li><a target="balnk" href="#"><i class="flaticon-facebook-logo"></i></a></li>
                            <li><a target="balnk" href="javacript::void(0)"><i class="flaticon-twitter"></i></a></li>
                            <li><a target="balnk" href="#"><i class="flaticon-paypal"></i></a></li>
                            <li><a target="balnk" href="#"><i class="flaticon-linkedin-letters"></i></a></li>
                        </ul>
                    </div>

                    <div class="team-content">
                        <h3>Bahar KAYAR</h3>
                        <span>Instructional Designer</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="team-item-area">
                    <div class="team-image">
                        <img src="~/assets/img/team/3.jpg" alt="image">

                    </div>
                    <div class="team-social-full">
                        <ul class="team-social">
                            <li><a target="balnk" href="#"><i class="flaticon-facebook-logo"></i></a></li>
                            <li><a target="balnk" href="javacript::void(0)"><i class="flaticon-twitter"></i></a></li>
                            <li><a target="balnk" href="#"><i class="flaticon-paypal"></i></a></li>
                            <li><a target="balnk" href="#"><i class="flaticon-linkedin-letters"></i></a></li>
                        </ul>
                    </div>

                    <div class="team-content">
                        <h3>Ayşe TOKTAŞ</h3>
                        <span>Web Developer</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="team-item-area">
                    <div class="team-image">
                        <img src="~/assets/img/team/4.jpg" alt="image">

                    </div>
                    <div class="team-social-full">
                        <ul class="team-social">
                            <li><a target="balnk" href="#"><i class="flaticon-facebook-logo"></i></a></li>
                            <li><a target="balnk" href="javacript::void(0)"><i class="flaticon-twitter"></i></a></li>
                            <li><a target="balnk" href="#"><i class="flaticon-paypal"></i></a></li>
                            <li><a target="balnk" href="#"><i class="flaticon-linkedin-letters"></i></a></li>
                        </ul>
                    </div>
                    <div class="team-content">
                        <h3>Tuba UĞRAŞ</h3>
                        <span>Founder &amp; CEO</span>

                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="team-item-area">
                    <div class="team-image">
                        <img src="~/assets/img/team/5.jpg" alt="image">
                    </div>
                    <div class="team-social-full">
                        <ul class="team-social">
                            <li><a target="balnk" href="#"><i class="flaticon-facebook-logo"></i></a></li>
                            <li><a target="balnk" href="javacript::void(0)"><i class="flaticon-twitter"></i></a></li>
                            <li><a target="balnk" href="#"><i class="flaticon-paypal"></i></a></li>
                            <li><a target="balnk" href="#"><i class="flaticon-linkedin-letters"></i></a></li>
                        </ul>
                    </div>
                    <div class="team-content">
                        <h3>Selda ERDEM</h3>
                        <span>Back-End Developer</span>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Team Area -->