
@{
    ViewBag.Title = "Team";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- Start Page Title Area -->
<div class="page-title-area defaultbg" style="background-image:url(/assets/img/page.png);">
    <div class="breadcrumb-overly">
        <div class="d-table">
            <div class="d-table-cell">
                <div class="container">
                    <div class="page-title-content">
                        <h2>
                            Takımımız
                        </h2>
                        <ul>
                            <li><a href="/Home/Index">Anasayfa</a></li>
                            <li> Takımımız </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Page Title Area -->
<!-- Start Team Area -->
<section class="team-section ptb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="team-item-area">
                    <div class="team-image">
                        <img src="~/assets/img/team/1.jpg" alt="image">

                    </div>
                    <div class="team-social-full">
                        <ul class="team-social">
                            <li><a target="balnk" href="#"><i class="flaticon-facebook-logo"></i></a></li>
                            <li><a target="balnk" href="javacript::void(0)"><i class="flaticon-twitter"></i></a></li>
                            <li><a target="balnk" href="#"><i class="flaticon-paypal"></i></a></li>
                            <li><a target="balnk" href="#"><i class="flaticon-linkedin-letters"></i></a></li>
                        </ul>
                    </div>
                    <div class="team-content">
                        <h3>Jhone Brown</h3>
                        <span>Sr. Graphic Designer</span>

                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="team-item-area">
                    <div class="team-image">
                        <img src="~/assets/img/team/2.jpg" alt="image">
                    </div>
                    <div class="team-social-full">
                        <ul class="team-social">
                            <li><a target="balnk" href="#"><i class="flaticon-facebook-logo"></i></a></li>
                            <li><a target="balnk" href="javacript::void(0)"><i class="flaticon-twitter"></i></a></li>
                            <li><a target="balnk" href="#"><i class="flaticon-paypal"></i></a></li>
                            <li><a target="balnk" href="#"><i class="flaticon-linkedin-letters"></i></a></li>
                        </ul>
                    </div>
                    <div class="team-content">
                        <h3>Jessica Twain</h3>
                        <span>Founder &amp;amp; CEO</span>

                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="team-item-area">
                    <div class="team-image">
                        <img src="~/assets/img/team/3.jpg" alt="image">

                    </div>
                    <div class="team-social-full">
                        <ul class="team-social">
                            <li><a target="balnk" href="#"><i class="flaticon-facebook-logo"></i></a></li>
                            <li><a target="balnk" href="javacript::void(0)"><i class="flaticon-twitter"></i></a></li>
                            <li><a target="balnk" href="#"><i class="flaticon-paypal"></i></a></li>
                            <li><a target="balnk" href="#"><i class="flaticon-linkedin-letters"></i></a></li>
                        </ul>
                    </div>

                    <div class="team-content">
                        <h3>Telewal </h3>
                        <span>Web Development Leader</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="team-item-area">
                    <div class="team-image">
                        <img src="~/assets/img/team/4.jpg" alt="image">

                    </div>
                    <div class="team-social-full">
                        <ul class="team-social">
                            <li><a target="balnk" href="#"><i class="flaticon-facebook-logo"></i></a></li>
                            <li><a target="balnk" href="javacript::void(0)"><i class="flaticon-twitter"></i></a></li>
                            <li><a target="balnk" href="#"><i class="flaticon-paypal"></i></a></li>
                            <li><a target="balnk" href="#"><i class="flaticon-linkedin-letters"></i></a></li>
                        </ul>
                    </div>
                    <div class="team-content">
                        <h3>Jhone Brown</h3>
                        <span>Sr. Graphic Designer</span>

                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="team-item-area">
                    <div class="team-image">
                        <img src="~/assets/img/team/5.jpg" alt="image">
                    </div>
                    <div class="team-social-full">
                        <ul class="team-social">
                            <li><a target="balnk" href="#"><i class="flaticon-facebook-logo"></i></a></li>
                            <li><a target="balnk" href="javacript::void(0)"><i class="flaticon-twitter"></i></a></li>
                            <li><a target="balnk" href="#"><i class="flaticon-paypal"></i></a></li>
                            <li><a target="balnk" href="#"><i class="flaticon-linkedin-letters"></i></a></li>
                        </ul>
                    </div>
                    <div class="team-content">
                        <h3>Jessica Twain</h3>
                        <span>Founder &amp;amp; CEO</span>

                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="team-item-area">
                    <div class="team-image">
                        <img src="~/assets/img/team/6.jpg" alt="image">

                    </div>
                    <div class="team-social-full">
                        <ul class="team-social">
                            <li><a target="balnk" href="#"><i class="flaticon-facebook-logo"></i></a></li>
                            <li><a target="balnk" href="javacript::void(0)"><i class="flaticon-twitter"></i></a></li>
                            <li><a target="balnk" href="#"><i class="flaticon-paypal"></i></a></li>
                            <li><a target="balnk" href="#"><i class="flaticon-linkedin-letters"></i></a></li>
                        </ul>
                    </div>

                    <div class="team-content">
                        <h3>Telewal </h3>
                        <span>Web Development Leader</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Team Area -->
<!-- Start Team Style 2 -->
<section class="team-section pb-100">
    <div class="container">
        <div class="section-title">
            <h3>Team Style 2</h3>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="team-item-area-style-2">
                    <div class="team-image">
                        <img src="~/assets/img/team/1.jpg" alt="image">

                    </div>
                    <div class="team-social-full-style-2">
                        <ul class="team-social">
                            <li><a target="balnk" href="#"><i class="flaticon-facebook-logo"></i></a></li>
                            <li><a target="balnk" href="javacript::void(0)"><i class="flaticon-twitter"></i></a></li>
                            <li><a target="balnk" href="#"><i class="flaticon-paypal"></i></a></li>
                            <li><a target="balnk" href="#"><i class="flaticon-linkedin-letters"></i></a></li>
                        </ul>
                    </div>
                    <div class="team-content-style-2">
                        <h3>Jhone Brown</h3>
                        <span>Sr. Graphic Designer</span>

                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="team-item-area-style-2">
                    <div class="team-image">
                        <img src="~/assets/img/team/2.jpg" alt="image">
                    </div>
                    <div class="team-social-full-style-2">
                        <ul class="team-social">
                            <li><a target="balnk" href="#"><i class="flaticon-facebook-logo"></i></a></li>
                            <li><a target="balnk" href="javacript::void(0)"><i class="flaticon-twitter"></i></a></li>
                            <li><a target="balnk" href="#"><i class="flaticon-paypal"></i></a></li>
                            <li><a target="balnk" href="#"><i class="flaticon-linkedin-letters"></i></a></li>
                        </ul>
                    </div>
                    <div class="team-content-style-2">
                        <h3>Jessica Twain</h3>
                        <span>Founder &amp;amp; CEO</span>

                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="team-item-area-style-2">
                    <div class="team-image">
                        <img src="~/assets/img/team/3.jpg" alt="image">

                    </div>
                    <div class="team-social-full-style-2">
                        <ul class="team-social">
                            <li><a target="balnk" href="#"><i class="flaticon-facebook-logo"></i></a></li>
                            <li><a target="balnk" href="javacript::void(0)"><i class="flaticon-twitter"></i></a></li>
                            <li><a target="balnk" href="#"><i class="flaticon-paypal"></i></a></li>
                            <li><a target="balnk" href="#"><i class="flaticon-linkedin-letters"></i></a></li>
                        </ul>
                    </div>

                    <div class="team-content-style-2">
                        <h3>Telewal </h3>
                        <span>Web Development Leader</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="team-item-area-style-2">
                    <div class="team-image">
                        <img src="~/assets/img/team/4.jpg" alt="image">

                    </div>
                    <div class="team-social-full-style-2">
                        <ul class="team-social">
                            <li><a target="balnk" href="#"><i class="flaticon-facebook-logo"></i></a></li>
                            <li><a target="balnk" href="javacript::void(0)"><i class="flaticon-twitter"></i></a></li>
                            <li><a target="balnk" href="#"><i class="flaticon-paypal"></i></a></li>
                            <li><a target="balnk" href="#"><i class="flaticon-linkedin-letters"></i></a></li>
                        </ul>
                    </div>
                    <div class="team-content-style-2">
                        <h3>Jhone Brown</h3>
                        <span>Sr. Graphic Designer</span>

                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="team-item-area-style-2">
                    <div class="team-image-style-2">
                        <img src="~/assets/img/team/5.jpg" alt="image">
                    </div>
                    <div class="team-social-full-style-2">
                        <ul class="team-social">
                            <li><a target="balnk" href="#"><i class="flaticon-facebook-logo"></i></a></li>
                            <li><a target="balnk" href="javacript::void(0)"><i class="flaticon-twitter"></i></a></li>
                            <li><a target="balnk" href="#"><i class="flaticon-paypal"></i></a></li>
                            <li><a target="balnk" href="#"><i class="flaticon-linkedin-letters"></i></a></li>
                        </ul>
                    </div>
                    <div class="team-content-style-2">
                        <h3>Jessica Twain</h3>
                        <span>Founder &amp;amp; CEO</span>

                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="team-item-area-style-2">
                    <div class="team-image-style-2">
                        <img src="~/assets/img/team/6.jpg" alt="image">

                    </div>
                    <div class="team-social-full-style-2">
                        <ul class="team-social">
                            <li><a target="balnk" href="#"><i class="flaticon-facebook-logo"></i></a></li>
                            <li><a target="balnk" href="javacript::void(0)"><i class="flaticon-twitter"></i></a></li>
                            <li><a target="balnk" href="#"><i class="flaticon-paypal"></i></a></li>
                            <li><a target="balnk" href="#"><i class="flaticon-linkedin-letters"></i></a></li>
                        </ul>
                    </div>

                    <div class="team-content-style-2">
                        <h3>Telewal </h3>
                        <span>Web Development Leader</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Team Style 2 -->
<!-- Start Team Style 3 -->
<section class="team-section">
    <div class="container">
        <div class="section-title">
            <h3>Team Style 3</h3>
        </div>
        <div class="row">
            <div class="col-lg-6 mb-30">
                <div class="team-item-area-style-3">
                    <div class="team-image">
                        <img src="~/assets/img/team/1.jpg" alt="image">
                    </div>
                    <div class="team-content">
                        <div class="team-content-style-3">
                            <h3>Jhone Brown</h3>
                            <span>Sr. Graphic Designer</span>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, </p>
                        </div>
                        <div class="team-social-full-style-3">
                            <ul class="team-social">
                                <li><a target="balnk" href="#"><i class="flaticon-facebook-logo"></i></a></li>
                                <li><a target="balnk" href="javacript::void(0)"><i class="flaticon-twitter"></i></a></li>
                                <li><a target="balnk" href="#"><i class="flaticon-paypal"></i></a></li>
                                <li><a target="balnk" href="#"><i class="flaticon-linkedin-letters"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 mb-30">
                <div class="team-item-area-style-3">
                    <div class="team-image">
                        <img src="~/assets/img/team/2.jpg" alt="image">
                    </div>
                    <div class="team-content">
                        <div class="team-content-style-3">
                            <h3>Jessica Twain</h3>
                            <span>Sr. Graphic Designer</span>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, </p>
                        </div>
                        <div class="team-social-full-style-3">
                            <ul class="team-social">
                                <li><a target="balnk" href="#"><i class="flaticon-facebook-logo"></i></a></li>
                                <li><a target="balnk" href="javacript::void(0)"><i class="flaticon-twitter"></i></a></li>
                                <li><a target="balnk" href="#"><i class="flaticon-paypal"></i></a></li>
                                <li><a target="balnk" href="#"><i class="flaticon-linkedin-letters"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 mb-30">
                <div class="team-item-area-style-3">
                    <div class="team-image">
                        <img src="~/assets/img/team/3.jpg" alt="image">
                    </div>
                    <div class="team-content">
                        <div class="team-social-full-style-3">
                            <div class="team-content-style-3">
                                <h3>Telewal</h3>
                                <span>Sr. Graphic Designer</span>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, </p>
                            </div>
                            <ul class="team-social">
                                <li><a target="balnk" href="#"><i class="flaticon-facebook-logo"></i></a></li>
                                <li><a target="balnk" href="javacript::void(0)"><i class="flaticon-twitter"></i></a></li>
                                <li><a target="balnk" href="#"><i class="flaticon-paypal"></i></a></li>
                                <li><a target="balnk" href="#"><i class="flaticon-linkedin-letters"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 mb-30">
                <div class="team-item-area-style-3">
                    <div class="team-image">
                        <img src="~/assets/img/team/4.jpg" alt="image">
                    </div>
                    <div class="team-content">
                        <div class="team-content-style-3">
                            <h3>Jhone Brown</h3>
                            <span>Sr. Graphic Designer</span>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, </p>
                        </div>
                        <div class="team-social-full-style-3">
                            <ul class="team-social">
                                <li><a target="balnk" href="#"><i class="flaticon-facebook-logo"></i></a></li>
                                <li><a target="balnk" href="javacript::void(0)"><i class="flaticon-twitter"></i></a></li>
                                <li><a target="balnk" href="#"><i class="flaticon-paypal"></i></a></li>
                                <li><a target="balnk" href="#"><i class="flaticon-linkedin-letters"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Team Style 3 -->